body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

#pergunta, #pergunta-x {
    font-size: 24px;
    margin: 20px 0;
}

#alternativas, #alternativas-x {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: yellow;
    color : black;
}

#resultado, #resultado-area, #resultado-bandeira {
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
}
#alternativas-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

#alternativas-area button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#alternativas-area button:hover {
    background-color: #0056b3;
}
img {
    width: 200px
}
.navegacao {
    margin-bottom: 20px;
    text-align: center;
}

.navegacao button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.navegacao button:hover {
    background-color: #0056b3;
}
#bandeira-imagem {
    
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);  
     
}
#alternativas-bandeira {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}
#resultado-bandeira {
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
}
#nota-imagem {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    cursor: pointer;
}
#alternativas-notas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
#alternativas-notas button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}
#resultado-notas {
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    min-height: 24px;
}
#score-notas {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}